{% extends "layout.html" %}
{% block content %}
<h1>Announcements</h1>
<article class="media content-section">
	<div class="media-body">
	<div class="article-metadata">
		<div class="mr-2">10/21/2020</div>
	</div>
	<h2><a class="article-title">New Playlist of Local Bands</a></h2>
	<p class="article-content">Orange County band playlist</p>
	<a href="#" class="article-content">Reddit.com</a>
	</div>
</article>

<article class="media content-section">
	<div class="media-body">
	<div class="article-metadata">
		<div class="mr-2">10/12/2020</div>
	</div>
	<h2><a class="article-title">New Blink-182 just dropped!</a></h2>
	<p class="article-content">So excited!</p>
	</div>
</article>
{% endblock content %}