{% extends "layout.html" %}
{% block content %}
<h1>Future Dates</h1>
<article class="media content-section">
	<div class="media-body">
	<div class="article-metadata">
		<div class="mr-2">10/22/2020</div>
	</div>
	<h2><a class="article-title">Every Other Year at Lollapalooza</a></h2>
	<p class="article-content">Wednesday, October 28</p>
	<a href="#" class="article-content">Lineup</a>
	</div>
</article>

<article class="media content-section">
	<div class="media-body">
	<div class="article-metadata">
		<div class="mr-2">10/14/2020</div>
	</div>
	<h2><a class="article-title">The Grange playing at Honda Center!</a></h2>
	<p class="article-content">10/31/2020 Can't wait</p>
	</div>
</article>
{% endblock content %}