{% extends "layout.html" %}
{% block content %}
<h1>Latest Shows</h1>
<article class="media content-section">
	<div class="media-body">
	<div class="article-metadata">
		<div class="mr-2">10/23/2020</div>
	</div>
	<img class="rounded-circle article-img" src="https://i.imgur.com/GoF3H8m.jpg">
	<h2><a class="article-title">Every Other Year</a></h2>
	<p class="article-content">Location: The Block in Orange</p>
	<a href="#" class="article-content">Live Performance</a>
	</div>
</article>

<article class="media content-section">
	<div class="media-body">
	<div class="article-metadata">
		<div class="mr-2">10/17/2020</div>
	</div>
	<img class="rounded-circle article-img" src="https://i.imgur.com/fiIwUtD.jpg">
	<h2><a class="article-title">Emerald Street</a></h2>
	<p class="article-content">Location: Downtown Fullerton</p>
	<a href="#" class="article-content">Venue Description</a>
	</div>
</article>

<article class="media content-section">
	<div class="media-body">
	<div class="article-metadata">
		<div class="mr-2">10/11/2020</div>
	</div>
	<img class="rounded-circle article-img" src="https://i.imgur.com/rzm5dIF.jpg">
	<h2><a class="article-title">Motley Crue</a></h2>
	<p class="article-content">Location: Downtown Los Angeles</p>
	<a href="#" class="article-content">Band Website</a>
	</div>
</article>
{% endblock content %}